/* 1. Quitar márgenes por defecto y establecer box-sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* 2. Eliminar estilos por defecto de los textos */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  font: inherit;
}

/* 3. Usar una línea base más consistente */
html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

/* 4. Quitar estilos por defecto en listas */
ul,
ol {
  list-style: none;
}

/* 5. Asegurar estilos de anclajes */
a {
  text-decoration: none;
  color: inherit;
}

/* 6. Mejorar visualización de imágenes y medios */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

/* 7. Tipografía heredada */
input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

/* 8. Botones sin bordes y cursor adecuado */
button {
  background: none;
  border: none;
  cursor: pointer;
}

/* 9. Evitar saltos de línea raros en textos */
b,
strong {
  font-weight: bold;
}

/* 10. Elementos base accesibles */
[hidden] {
  display: none !important;
}

/* 11.   */

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
p {
  text-wrap: pretty;
}
